{% extends 'layout.html' %}
{% block content %}
<h1>-</h1>
<h2 style = "text-align: center;">Account Setting</h2>

      <form action = "" method = "post">
         <fieldset>
            <legend>Settings Form</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.fname.label }}<br>
               {{ form.fname }}
               <br>

               {{ form.sname.label }}<br>
               {{ form.sname }}
               <br>

               {{ form.title.label }}<br>
               {{ form.title }}
               <br>

               {{ form.knownas.label }}<br>
               {{ form.knownas }}
               <br>
               {{ form.save }}
            </div>

         </fieldset>
      </form>


{% endblock content %}